.root {
    display: block;
    max-width: 100%;
    margin: auto;
    padding-top: 100px;
}

.tableWrapper {
    max-width: 1280px;
    width: 100%;
    margin: auto auto 50px;
}

.table {
    width: 100%;
}

.table th:first-child {
    font-weight: 500;
    font-size: 16px;
    color: #303030;
    letter-spacing: 0.4px;
    text-align: left;
}

.table th:nth-child(2),
.table th:nth-child(3),
.table th:nth-child(4),
.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
    width: 240px;
    text-align: center;
    padding: 0 10px;
}

.table th {
    font-weight: normal;
    font-size: 16px;
    color: #303030;
    padding: 30px 10px;
}

.table td:first-child {
    text-align: left;
}

.table td {
    font-weight: 100;
    font-size: 14px;
    color: #606060;
    padding: 10px;
    text-align: center;
}

.table tbody tr:hover {
    background: #f5f5f5;
}

.table .emptyRow:hover {
    background: none;
}

.grey {
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
    background: url("./images/grey.png") no-repeat 50% 50%;
}

.green {
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
    background: #ff9f89;
    /*url("./images/green.png") no-repeat 50% 50%;*/
    border-radius: 50%;
}

.green:after {
    content: "";
    display: inline-block;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    width: 6px;
    height: 9px;
    margin: 2px;
}

.advantages {
    padding-top: 50px;
    background: #fcfbfd;
}

.advantagesHeader {
    font-weight: 100;
    font-size: 28px;
    color: #303030;
    letter-spacing: 0;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 980px) {
    .root {
        padding-top: 10px;
    }
}