.wrap {
    display: block;
    width: 100%;
}

.link {
    margin-right: 40px;
    transition: .2s color ease-out;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    line-height: 80px;
    font-size: 14px;
    color: #4b4949;
    letter-spacing: 0.18px;
    font-weight: 500;
}

.link:last-child {
    margin-right: 0;
}

.activeLink {
    position: relative;
    color: #f87933;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.activeLink:before {
    position: absolute;
    left: -10px;
    bottom: 15px;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: none;
    border-left: 1px solid #f87933;
    border-bottom: 1px solid #f87933;
}

.activeLink:after {
    position: absolute;
    right: -10px;
    top: 15px;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: none;
    border-right: 1px solid #f87933;
    border-top: 1px solid #f87933;
}

@media screen and (max-width: 980px) {
    .wrap {
        text-align: center;
    }

    .link {
        display: block;
        width: 100%;
        font-size: 20px;
        padding: 4px;
        font-weight: 300;
        text-align: center;
    }
}
