.root {
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 120px;
    background: #fff;
    max-width: 1280px;
}

.wrapper {
}

.video {
    outline: none !important;
}

.video video {
    max-width: 100%;
}

@media screen and (max-width: 1200px) {
    .root {
        padding-top: 10px;
    }
}

@media screen and (max-width: 800px) {
    .header {
        font-size: 1em;
    }
}
