.root {
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 100px;
    background: #fff;
    max-width: 100%;
    text-align: center;
}

.wrapper {
}

.video {
    position: relative;
    outline: none !important;
}

.video video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 6px;
    background: rgba(0, 0, 0, .3);
}

@media screen and (max-width: 980px) {
    .root {
        padding-top: 0;
    }
}

@media screen and (max-width: 800px) {
    .header {
        font-size: 1em;
    }
}

@media (min-aspect-ratio: 16/9) {
    .video video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video video {
        width: 300%;
        left: -100%;
    }
}

/* Если есть поддержка object-fit (Chrome/Chrome для Android, Safari в iOS 8 и Opera), используем его: */
@supports (object-fit: cover) {
    .video video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}