.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    width: 100%;
    height: 100px;
    color: #888;
}

.corporate {
    position: absolute;
    left: 20px;
    bottom: 45px;
}

.contacts {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 45px;
    text-align: center;
}

.contact {
    margin-right: 40px;
    font-weight: 100;
    font-size: 14px;
    color: #909090;
    letter-spacing: 0.58px;
    text-align: left;
}

.contact a, .contact a:hover {
    color: #888;
}

.socials {
    position: absolute;
    right: 50px;
    bottom: 45px;
}