.header {
    color: #333;
    display: block;
    max-width: 100%;
    width: 100%;
    z-index: 100;
}

.headerWrapper {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    width: 1080px;
    overflow: hidden;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    padding: 0 40px;
}

.menu {
    max-width: 100%;
    text-align: right;
}

.title {
    color: #999;
    display: block;
    font-weight: 300;
}

.logoLink {
    float: left;
    font-family: 'Pacifico', cursive, Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #c49b59;
    letter-spacing: 0.3px;
    text-align: left;
    line-height: 80px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    border: none;
    outline: none;
    margin-right: 10px;
}

.logoText {
    display: inline-block;
    vertical-align: middle;
}

.socials {
    display: block;
    text-align: center;
    margin: 60px auto 20px auto;
}

@media screen and (max-width: 980px) {
    .header {
        position: static;
    }

    .headerWrapper {
        padding-bottom: 0;
        text-align: center;
    }

    .logoLink {
        float: none;
        position: initial;
    }

    .logo {
        display: block;
        margin: 20px auto;
        max-width: 100%;
        padding: 0 15px;
    }

    .title {
        margin: 10px 0 25px 0;
    }

    .menu {
        position: static;
    }
}
