.main {
    display: block;
    width: 1080px;
    max-width: 100%;
    min-height: 800px;
    margin: auto;
    padding-top: 60px;
}

.card iframe {
    max-width: 100% !important;
    width: 1080px;
    height: 448px;
    background: transparent;
}

.card {
    margin-bottom: 60px;
}

.topButton {
    display: block;
    margin: 0 auto 60px auto;
    text-align: center;
    padding: 10px 20px;
    opacity: 0.8;
    background-color: #ff9f89;
    color: #fff;
    border: none;
}

.topButton:hover {
    background-color: #ff9f89;
    cursor: pointer;
    opacity: 1;
}
